<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khufu</title>
    <link rel="icon" href="images/favico.ico">
    <meta name="theme-color" content="#f2f2f2">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171825551-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-171825551-1');
    </script>
</head>

<body>
    <div class="preloader">
        <img class="preloader__icon" src="images/preloader.png" alt="khufu" />
    </div>
    <div class="page-wrapper">
        <header class="site-header header-one ">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                <div class="container clearfix">
                    <div class="logo-box clearfix">
                        <a class="navbar-brand" href="#">
                            KHUFU
                        </a>
                        <button class="menu-toggler" data-target=".main-navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                    <div class="main-navigation">
                        <ul class=" navigation-box one-page-scroll-menu ">
                            <li class="current scrollToLink">
                                <a href="#home">Hause</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#services">Produkte</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#benefits">Warum</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#pricing">Flatrate</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-side-box">
                        <a href="#contact" class="thm-btn header-one__btn">Kontakt</a>
                    </div>
                </div>
                
            </nav>
        </header>

        <section class="banner-one" id="home">

            <span class="banner-one__shape-1"></span>
            <span class="banner-one__shape-2"></span>
            <span class="banner-one__shape-3"></span>
            <span class="banner-one__shape-4"></span>
            <span class="banner-one__shape-5"></span>
            <span class="banner-one__shape-6"></span>

            <img src="images/preloader.png" class="banner-one__globe" alt="khufu" width="75px"/>
            <img src="images/rocket-1-1.png" class="banner-one__rocket" alt="khufu"/>
            <img src="images/banner-home.svg" class="banner-one__moc" alt="khufu" width="1000px"/>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="banner-one__content">
                            <p class="banner-one__tag-line">Die Welt 2.0 <a href="#contact">versuchen</a></p>
                            <h3 class="banner-one__title">Khufu ist sofortige Digitalisierung</h3>
                            <a href="#services" class="banner-one__btn thm-btn">Sehen Sie unsere Produkte</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-one" id="services">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title black-text-color">Abwechslungsreiche Produkte <br /> für Ihre Bedürfnisse</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-presentation"></i>
                            </div>
                            <h3 class="service-one__title"><a>Überwachung des <br> Multi-Card-Verkaufs</a></h3>
                            <p class="service-one__text">Mit diesem Produkt können <br> Sie Termine, Bestellungen und <br> Lagerbestände Ihres gesamten <br> Multi-Card-Verkaufsteams verwalten.</p>
                            <a href="#contact" class="service-one__btn">Wählen Sie dieses Produkt</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-laptop"></i>
                            </div>
                            <h3 class="service-one__title"><a>Überwachung von <br> Ausschreibungen</a></h3>
                            <p class="service-one__text">Ein Produkt, mit dem <br> Sie Angebote unabhängig von Ihrem <br> Fachgebiet starten und verwalten können. <br> Follow-up einer statistischen Analyse</p>
                            <a href="#contact" class="service-one__btn">Wählen Sie dieses Produkt</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-target"></i>
                            </div>
                            <h3 class="service-one__title"><a>Verfolgung <br> von Herausforderern</a></h3>
                            <p class="service-one__text">Ein Folgeprodukt, das Ihnen die <br> Möglichkeit bietet, die Leistung Ihrer Kunden <br> zu überwachen, ihnen aber auch Rezepte <br> und gezielte Schulungen anzubieten.</p>
                            <a href="#contact" class="service-one__btn">Wählen Sie dieses Produkt</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-two" id="benefits">
            <img src="images/why.svg" class="cta-two__moc" alt="khufu" width="900"/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cta-two__block">
                            <div class="block-title text-left">
                                <h2 class="block-title__title black-text-color">Warum ?</h2>
                            </div>
                            <div class="cta-two__single">
                                <div class="cta-two__icon">
                                    <i class="lums-icon-strategy"></i>
                                </div>
                                <div class="cta-two__content">
                                    <h3 class="cta-two__title">Ein Produkt, das unverzüglich verinnerlicht wird</h3>
                                    <p class="cta-two__text">Alle Funktionen in Bezug auf die Grundlagen des von Ihnen lizenzierten Produkts sind bereits vorhanden. Fangen Sie jetzt an, es zu benutzen !</p>
                                </div>
                            </div>
                            <div class="cta-two__single">
                                <div class="cta-two__icon">
                                    <i class="lums-icon-training"></i>
                                </div>
                                <div class="cta-two__content">
                                    <h3 class="cta-two__title">Keine anfänglichen Entwicklungskosten</h3>
                                    <p class="cta-two__text">Und ja, die Funktionen, die sich auf die Basis des Produkts beziehen, sind bereits zu entwickeln, was bedeutet, dass Sie nicht für zusätzliche Entwicklung bezahlen müssen !</p>
                                </div>
                            </div>
                            <a href="#contact" class="thm-btn cta-two__btn">Finde mehr heraus</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing-one" id="pricing">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title black-text-color">Unsere Pakete</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__amount">0 €<br></h3>
                            <span class="pricing-one__month">Einfache Lizenz</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Lizenzprodukt</li>
                                <li class="pricing-one__list-item not">Konfigurationshilfe</li>
                                <li class="pricing-one__list-item not">Kundenspezifische Entwicklung</li>
                                <li class="pricing-one__list-item not">Unterstützung</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Wählen</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-one__single popular">
                            <h3 class="pricing-one__amount">2 000 €<br></h3>
                            <span class="pricing-one__month">Lizenz / Anpassung</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Lizenzprodukt</li>
                                <li class="pricing-one__list-item">Konfigurationshilfe</li>
                                <li class="pricing-one__list-item not">Kundenspezifische Entwicklung</li>
                                <li class="pricing-one__list-item not">Unterstützung</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Wählen</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__amount">9 500 €<br></h3>
                            <span class="pricing-one__month">Lizenz / Nachverfolgung</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Lizenzprodukt</li>
                                <li class="pricing-one__list-item">Konfigurationshilfe</li>
                                <li class="pricing-one__list-item">Kundenspezifische Entwicklung</li>
                                <li class="pricing-one__list-item">Unterstützung</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Wählen</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-one" id="contact">
            <div class="container text-center ">
                <div class="block-title">
                    <h2 class="block-title__title light-text-color">Interessieren Sie sich für ein Produkt?</h2>
                </div>
                <a href="mailto:hello@khufu.io" target="_blank" class="thm-btn cta-one__btn">Senden Sie uns eine Email</a>
            </div>
        </section>
        
        <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="site-footer__5-col-wrap">
                        <div class="footer-widget footer-widget__about">
                            <a href="index.html" class="footer-widget__logo">
                                KHUFU
                            </a>
                        </div><!-- /.footer-widget -->
                        <div class="footer-widget">
                            <h3 class="footer-widget__title">Erforschen</h3><!-- /.footer-widget__title -->
                            <ul class="footer-widget__links">
                                <li class="footer-widget__links-item">
                                    <a href="#home" class="footer-widget__links-link">Hause</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#products" class="footer-widget__links-link">Produkte</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#benefits" class="footer-widget__links-link">Warum</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#pricing" class="footer-widget__links-link">Flatrate</a>
                                </li><!-- /.footer-widget__links-item -->
                            </ul><!-- /.footer-widget__links -->
                        </div><!-- /.footer-widget -->
                        <div class="footer-widget">
                            <h3 class="footer-widget__title">Verbindungen</h3><!-- /.footer-widget__title -->
                            <ul class="footer-widget__links">
                                <li class="footer-widget__links-item">
                                    <a href="#contact" class="footer-widget__links-link">Kontakt</a>
                                </li><!-- /.footer-widget__links-item -->
                            </ul><!-- /.footer-widget__links -->
                        </div><!-- /.footer-widget -->
                        <!--<div class="footer-widget footer-widget__subscribe">
                            <h3 class="footer-widget__title">Souscrire</h3>
                            <form action="#" class="footer-widget__subscribe-form">
                                <input type="text" name="email" placeholder="Adresse email">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>-->
                    </div><!-- /.site-footer__5-col-wrap -->
                </div>
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__lower">
                <div class="container">
                    <div class="inner-container">
                        <p class="site-footer__copytext">© copyright 2020 by <a href="#">khufu.io</a></p>
                        <div class="site-footer__social">
                            <a href="https://twitter.com/khufuio"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/khufuio/"><i class="fa fa-instagram"></i></a>
                        </div><!-- /.site-footer__social -->
                    </div><!-- /.inner-container -->
                </div>
            </div><!-- /.site-footer__lower -->
        </footer>
    </div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/testimonials-owl.carousel.config.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>