<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khufu</title>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#f2f2f2">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#f2f2f2">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171825551-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-171825551-1');
    </script>
</head>

<body>
    <div class="preloader">
        <img class="preloader__icon" src="images/preloader.png" alt="khufu" />
    </div>
    <div class="page-wrapper">
        <header class="site-header header-one ">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                <div class="container clearfix">
                    <div class="logo-box clearfix">
                        <a class="navbar-brand" href="#">
                            KHUFU
                        </a>
                        <button class="menu-toggler" data-target=".main-navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                    <div class="main-navigation">
                        <ul class=" navigation-box one-page-scroll-menu ">
                            <li class="current scrollToLink">
                                <a href="#home">Home</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#services">Products</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#benefits">Why</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#pricing">Offers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-side-box">
                        <a href="#contact" class="thm-btn header-one__btn">Contact</a>
                    </div>
                </div>
                
            </nav>
        </header>

        <section class="banner-one" id="home">

            <span class="banner-one__shape-1"></span>
            <span class="banner-one__shape-2"></span>
            <span class="banner-one__shape-3"></span>
            <span class="banner-one__shape-4"></span>
            <span class="banner-one__shape-5"></span>
            <span class="banner-one__shape-6"></span>

            <img src="images/favicon/nlogo.png" class="banner-one__globe" alt="khufu" width="75px"/>
            <img src="images/rocket-1-1.png" class="banner-one__rocket" alt="khufu"/>
            <img src="images/banner-home.svg" class="banner-one__moc" alt="khufu" width="1000px"/>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="banner-one__content">
                            <p class="banner-one__tag-line">The 2.0 world <a href="#contact">try</a></p>
                            <h3 class="banner-one__title">Khufu it's an instant digitization</h3>
                            <a href="#services" class="banner-one__btn thm-btn">See our products</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-one" id="services">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title black-text-color">Varied products <br /> to meet your needs</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-presentation"></i>
                            </div>
                            <h3 class="service-one__title"><a>Monitoring of <br> multi-card sales</a></h3>
                            <p class="service-one__text">This product allows you to manage <br> appointments, orders as well as <br> stocks of all your <br> multi-card sales team.</p>
                            <a href="#contact" class="service-one__btn">Choose this product</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-laptop"></i>
                            </div>
                            <h3 class="service-one__title"><a>Monitoring of <br> calls for tenders</a></h3>
                            <p class="service-one__text">A product allowing you to launch <br> and manage tenders <br> whatever your field. <br> Follow-up of a statistical analysis</p>
                            <a href="#contact" class="service-one__btn">Choose this product</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-target"></i>
                            </div>
                            <h3 class="service-one__title"><a>Tracking of <br> challengers</a></h3>
                            <p class="service-one__text">A follow-up product which offers you the possibility <br> to monitor the performance of your customers <br> but also to offer them recipes <br> and targeted training</p>
                            <a href="#contact" class="service-one__btn">Choose this product</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-two" id="benefits">
            <img src="images/why.svg" class="cta-two__moc" alt="khufu" width="900"/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cta-two__block">
                            <div class="block-title text-left">
                                <h2 class="block-title__title black-text-color">Why ?</h2>
                            </div>
                            <div class="cta-two__single">
                                <div class="cta-two__icon">
                                    <i class="lums-icon-strategy"></i>
                                </div>
                                <div class="cta-two__content">
                                    <h3 class="cta-two__title">A product internalized without delay</h3>
                                    <p class="cta-two__text">All the functionality relating to the bases of the product which you license is already present. So start using it now !</p>
                                </div>
                            </div>
                            <div class="cta-two__single">
                                <div class="cta-two__icon">
                                    <i class="lums-icon-training"></i>
                                </div>
                                <div class="cta-two__content">
                                    <h3 class="cta-two__title">Zero initial development cost</h3>
                                    <p class="cta-two__text">And yes the functionalities relating to the bases of the product being already to develop that means that you do not need to pay for additional development !</p>
                                </div>
                            </div>
                            <a href="#contact" class="thm-btn cta-two__btn">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing-one" id="pricing">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title black-text-color">Our offers</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__amount">0 £<br></h3>
                            <span class="pricing-one__month">Simple license</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Licensed product</li>
                                <li class="pricing-one__list-item not">Configuration help</li>
                                <li class="pricing-one__list-item not">Custom development</li>
                                <li class="pricing-one__list-item not">Support</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Choose this offer</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-one__single popular">
                            <h3 class="pricing-one__amount">2 000 £<br></h3>
                            <span class="pricing-one__month">License and adjustment</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Licensed product</li>
                                <li class="pricing-one__list-item">Configuration help</li>
                                <li class="pricing-one__list-item not">Custom development</li>
                                <li class="pricing-one__list-item not">Support</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Choose this offer</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__amount">9 500 £<br></h3>
                            <span class="pricing-one__month">License and full follow</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Licensed product</li>
                                <li class="pricing-one__list-item">Configuration help</li>
                                <li class="pricing-one__list-item">Custom development</li>
                                <li class="pricing-one__list-item">Support</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Choose this offer</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-one" id="contact">
            <div class="container text-center ">
                <div class="block-title">
                    <h2 class="block-title__title light-text-color">Are you interested in a product ?</h2>
                </div>
                <a href="mailto:hello@khufu.io" target="_blank" class="thm-btn cta-one__btn">Send us an email</a>
            </div>
        </section>
        
        <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="site-footer__5-col-wrap">
                        <div class="footer-widget footer-widget__about">
                            <a href="index.html" class="footer-widget__logo">
                                KHUFU
                            </a>
                        </div><!-- /.footer-widget -->
                        <div class="footer-widget">
                            <h3 class="footer-widget__title">Explore</h3><!-- /.footer-widget__title -->
                            <ul class="footer-widget__links">
                                <li class="footer-widget__links-item">
                                    <a href="#home" class="footer-widget__links-link">Home</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#products" class="footer-widget__links-link">Products</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#benefits" class="footer-widget__links-link">Why</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#pricing" class="footer-widget__links-link">Offers</a>
                                </li><!-- /.footer-widget__links-item -->
                            </ul><!-- /.footer-widget__links -->
                        </div><!-- /.footer-widget -->
                        <div class="footer-widget">
                            <h3 class="footer-widget__title">Link</h3><!-- /.footer-widget__title -->
                            <ul class="footer-widget__links">
                                <li class="footer-widget__links-item">
                                    <a href="#contact" class="footer-widget__links-link">Contact</a>
                                </li><!-- /.footer-widget__links-item -->
                            </ul><!-- /.footer-widget__links -->
                        </div><!-- /.footer-widget -->
                        <!--<div class="footer-widget footer-widget__subscribe">
                            <h3 class="footer-widget__title">Souscrire</h3>
                            <form action="#" class="footer-widget__subscribe-form">
                                <input type="text" name="email" placeholder="Adresse email">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>-->
                    </div><!-- /.site-footer__5-col-wrap -->
                </div>
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__lower">
                <div class="container">
                    <div class="inner-container">
                        <p class="site-footer__copytext">© copyright 2020 by <a href="#">khufu.io</a></p>
                        <div class="site-footer__social">
                            <a href="https://twitter.com/khufuio"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/khufuio/"><i class="fa fa-instagram"></i></a>
                        </div><!-- /.site-footer__social -->
                    </div><!-- /.inner-container -->
                </div>
            </div><!-- /.site-footer__lower -->
        </footer>
    </div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/testimonials-owl.carousel.config.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>