<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khufu</title>
    <link rel="icon" href="images/favico.ico">
    <meta name="theme-color" content="#f2f2f2">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171825551-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-171825551-1');
    </script>
</head>

<body>
    <div class="preloader">
        <img class="preloader__icon" src="images/preloader.png" alt="khufu" />
    </div>
    <div class="page-wrapper">
        <header class="site-header header-one ">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                <div class="container clearfix">
                    <div class="logo-box clearfix">
                        <a class="navbar-brand" href="#">
                            KHUFU
                        </a>
                        <button class="menu-toggler" data-target=".main-navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                    <div class="main-navigation">
                        <ul class=" navigation-box one-page-scroll-menu ">
                            <li class="current scrollToLink">
                                <a href="#home">Inicio</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#services">Productos</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#benefits">Porque</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#pricing">Tarifas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-side-box">
                        <a href="#contact" class="thm-btn header-one__btn">Contact</a>
                    </div>
                </div>
                
            </nav>
        </header>

        <section class="banner-one" id="home">

            <span class="banner-one__shape-1"></span>
            <span class="banner-one__shape-2"></span>
            <span class="banner-one__shape-3"></span>
            <span class="banner-one__shape-4"></span>
            <span class="banner-one__shape-5"></span>
            <span class="banner-one__shape-6"></span>

            <img src="images/preloader.png" class="banner-one__globe" alt="khufu" width="75px"/>
            <img src="images/rocket-1-1.png" class="banner-one__rocket" alt="khufu"/>
            <img src="images/banner-home.svg" class="banner-one__moc" alt="khufu" width="1000px"/>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="banner-one__content">
                            <p class="banner-one__tag-line">El mundo monde 2.0 <a href="#contact">tratar</a></p>
                            <h3 class="banner-one__title">Khufu es una digitalización instantánea</h3>
                            <a href="#services" class="banner-one__btn thm-btn">Ver nuestros productos</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-one" id="services">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title black-text-color">Productos variados <br /> para satisfacer sus necesidades</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-presentation"></i>
                            </div>
                            <h3 class="service-one__title"><a>Monitoreo de ventas <br> de tarjetas múltiples</a></h3>
                            <p class="service-one__text">Este producto le permite <br> administrar citas, pedidos <br> y existencias de todo su equipo <br> de ventas de tarjetas múltiples.</p>
                            <a href="#contact" class="service-one__btn">Elegir este producto</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-laptop"></i>
                            </div>
                            <h3 class="service-one__title"><a>Monitoreo de las <br> licitaciones licitaciones</a></h3>
                            <p class="service-one__text">Un producto que le permite lanzar <br> y administrar licitaciones <br> sea cual sea su campo. <br> Seguimiento de un análisis estadístico</p>
                            <a href="#contact" class="service-one__btn">Elegir este producto</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <span class="service-one__dot-1"></span>
                            <span class="service-one__dot-2"></span>
                            <span class="service-one__dot-3"></span>
                            <div class="service-one__icon">
                                <i class="lums-icon-target"></i>
                            </div>
                            <h3 class="service-one__title"><a>Seguimiento de <br> los retadores</a></h3>
                            <p class="service-one__text">Un producto de seguimiento que le ofrece <br> la posibilidad de monitorear el desempeño <br> de sus clientes, pero también de ofrecerles <br> recetas y capacitación específica.</p>
                            <a href="#contact" class="service-one__btn">Elegir este producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-two" id="benefits">
            <img src="images/why.svg" class="cta-two__moc" alt="khufu" width="900"/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cta-two__block">
                            <div class="block-title text-left">
                                <h2 class="block-title__title black-text-color">Porque ?</h2>
                            </div>
                            <div class="cta-two__single">
                                <div class="cta-two__icon">
                                    <i class="lums-icon-strategy"></i>
                                </div>
                                <div class="cta-two__content">
                                    <h3 class="cta-two__title">Un producto internalizado sin demora</h3>
                                    <p class="cta-two__text">Toda la funcionalidad relacionada con las bases del producto que usted licencia ya está presente. ¡ Entonces comience a usarlo ahora !</p>
                                </div>
                            </div>
                            <div class="cta-two__single">
                                <div class="cta-two__icon">
                                    <i class="lums-icon-training"></i>
                                </div>
                                <div class="cta-two__content">
                                    <h3 class="cta-two__title">Costo inicial de desarrollo cero</h3>
                                    <p class="cta-two__text">¡ Y sí, las funcionalidades relacionadas con las bases del producto que ya están en desarrollo significa que no necesita pagar por un desarrollo adicional !</p>
                                </div>
                            </div>
                            <a href="#contact" class="thm-btn cta-two__btn">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing-one" id="pricing">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title black-text-color">Tarifas</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__amount">0 €<br></h3>
                            <span class="pricing-one__month">Licencia simple</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Producto con licencia</li>
                                <li class="pricing-one__list-item not">Ayuda de configuración</li>
                                <li class="pricing-one__list-item not">Desarrollo a la medida</li>
                                <li class="pricing-one__list-item not">Apoyo</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Elige este paquete</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-one__single popular">
                            <h3 class="pricing-one__amount">2 000 €<br></h3>
                            <span class="pricing-one__month">Licencia y ajuste</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Producto con licencia</li>
                                <li class="pricing-one__list-item">Ayuda de configuración</li>
                                <li class="pricing-one__list-item not">Desarrollo a la medida</li>
                                <li class="pricing-one__list-item not">Apoyo</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Elige este paquete</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__amount">9 500 €<br></h3>
                            <span class="pricing-one__month">Licencia y seguimiento</span>
                            <ul class="pricing-one__list">
                                <li class="pricing-one__list-item">Producto con licencia</li>
                                <li class="pricing-one__list-item">Ayuda de configuración</li>
                                <li class="pricing-one__list-item">Desarrollo a la medida</li>
                                <li class="pricing-one__list-item">Apoyo</li>
                            </ul>
                            <a href="#contact" class="thm-btn pricing-one__btn">Elige este paquete</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-one" id="contact">
            <div class="container text-center ">
                <div class="block-title">
                    <h2 class="block-title__title light-text-color">¿ Estás interesado en un producto ?</h2>
                </div>
                <a href="mailto:hello@khufu.io" target="_blank" class="thm-btn cta-one__btn">Envianos un email</a>
            </div>
        </section>
        
        <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="site-footer__5-col-wrap">
                        <div class="footer-widget footer-widget__about">
                            <a href="index.html" class="footer-widget__logo">
                                KHUFU
                            </a>
                        </div><!-- /.footer-widget -->
                        <div class="footer-widget">
                            <h3 class="footer-widget__title">Explorar</h3><!-- /.footer-widget__title -->
                            <ul class="footer-widget__links">
                                <li class="footer-widget__links-item">
                                    <a href="#home" class="footer-widget__links-link">Inicio</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#products" class="footer-widget__links-link">Productos</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#benefits" class="footer-widget__links-link">Porque</a>
                                </li><!-- /.footer-widget__links-item -->
                                <li class="footer-widget__links-item">
                                    <a href="#pricing" class="footer-widget__links-link">Tarifas</a>
                                </li><!-- /.footer-widget__links-item -->
                            </ul><!-- /.footer-widget__links -->
                        </div><!-- /.footer-widget -->
                        <div class="footer-widget">
                            <h3 class="footer-widget__title">Vínculos</h3><!-- /.footer-widget__title -->
                            <ul class="footer-widget__links">
                                <li class="footer-widget__links-item">
                                    <a href="#contact" class="footer-widget__links-link">Contact</a>
                                </li><!-- /.footer-widget__links-item -->
                            </ul><!-- /.footer-widget__links -->
                        </div><!-- /.footer-widget -->
                        <!--<div class="footer-widget footer-widget__subscribe">
                            <h3 class="footer-widget__title">Souscrire</h3>
                            <form action="#" class="footer-widget__subscribe-form">
                                <input type="text" name="email" placeholder="Adresse email">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>-->
                    </div><!-- /.site-footer__5-col-wrap -->
                </div>
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__lower">
                <div class="container">
                    <div class="inner-container">
                        <p class="site-footer__copytext">© copyright 2020 by <a href="#">khufu.io</a></p>
                        <div class="site-footer__social">
                            <a href="https://twitter.com/khufuio"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/khufuio/"><i class="fa fa-instagram"></i></a>
                        </div><!-- /.site-footer__social -->
                    </div><!-- /.inner-container -->
                </div>
            </div><!-- /.site-footer__lower -->
        </footer>
    </div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/testimonials-owl.carousel.config.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>